<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="nbroadcast" type="NBroadcast.Configuration.NBroadcastMediaConfigurationSection,NBroadcast"/>
  </configSections>

  <nbroadcast>
    <medium name="Twitter">
      <add key="consumerkey" value="foo"/>
      <add key="consumersecret" value="bar"/>
      <add key="accesstoken" value="fiz"/>
      <add key="accesstokensecret" value="buz"/>
    </medium>

    <medium name="Email">
      <add key="to" value="brandon.croft@gmail.com" />
      <add key="from" value="brandon.croft+nbroadcast@gmail.com" />
      <add key="ssl" value="true"/>
      <add key="subject" value="Hello from unit tests" />
      <add key="server" value="smtp.gmail.com" />
      <add key="port" value="587" />
      <add key="username" value="brandon.croft@gmail.com" />
      <add key="password" value="secret" />
    </medium>
  </nbroadcast>
</configuration>